{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "svelteSortOrder": "options-styles-scripts-markup",
                "svelteBracketNewLine": true,
                "svelteAllowShorthand": true,
                "svelteStrictMode": true,
                "svelteIndentScriptAndStyle": true
            }
        }
    ]
}
