@font-face {
    font-family: 'Operator Mono Lig';
    src: url('OperatorMonoLig-Book.woff2') format('woff2'),
        url('OperatorMonoLig-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Mono Lig';
    src: url('OperatorMonoLig-BookItalic.woff2') format('woff2'),
        url('OperatorMonoLig-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Mono Lig';
    src: url('OperatorMonoLig-LightItalic.woff2') format('woff2'),
        url('OperatorMonoLig-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Mono Lig';
    src: url('OperatorMonoLig-Light.woff2') format('woff2'),
        url('OperatorMonoLig-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

