@import 'tailwindcss';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'aqua';
    default: true;
    prefersdark: true;
    color-scheme: 'dark';
    --color-base-100: oklch(12% 0.042 264.695);
    --color-base-200: oklch(20% 0.042 265.755);
    --color-base-300: oklch(27% 0.041 260.031);
    --color-base-content: oklch(96% 0.007 247.896);
    --color-primary: oklch(59% 0.293 322.896);
    --color-primary-content: oklch(98% 0.016 73.684);
    --color-secondary: oklch(66% 0.295 322.15);
    --color-secondary-content: oklch(97% 0.017 320.058);
    --color-accent: oklch(62% 0.265 303.9);
    --color-accent-content: oklch(97% 0.014 308.299);
    --color-neutral: oklch(44% 0.043 257.281);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(70% 0.14 182.503);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@plugin "@tailwindcss/typography";
